article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden], template {
    display: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

input {
    line-height: normal;
}

    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

        input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/dist/fonts/muli_light.woff2') format('woff2'),url('/assets/dist/fonts/muli_light.woff') format('woff'),url('/assets/dist/fonts/muli_light.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/dist/fonts/muli_regular.woff2') format('woff2'),url('/assets/dist/fonts/muli_regular.woff') format('woff'),url('/assets/dist/fonts/muli_regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 300;
    src: url('/assets/dist/fonts/muli_lightitalic.woff2') format('woff2'),url('/assets/dist/fonts/muli_lightitalic.woff') format('woff'),url('/assets/dist/fonts/muli_lightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/dist/fonts/muli_italic.woff2') format('woff2'),url('/assets/dist/fonts/muli_italic.woff') format('woff'),url('/assets/dist/fonts/muli_italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/dist/fonts/poppins_light.woff2') format('woff2'),url('/assets/dist/fonts/poppins_light.woff') format('woff'),url('/assets/dist/fonts/poppins_light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/dist/fonts/poppins_regular.woff2') format('woff2'),url('/assets/dist/fonts/poppins_regular.woff') format('woff'),url('/assets/dist/fonts/poppins_regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/dist/fonts/poppins_medium.woff2') format('woff2'),url('/assets/dist/fonts/poppins_medium.woff') format('woff'),url('/assets/dist/fonts/poppins_medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/dist/fonts/poppins_semibold.woff2') format('woff2'),url('/assets/dist/fonts/poppins_semibold.woff') format('woff'),url('/assets/dist/fonts/poppins_semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/dist/fonts/poppins_bold.woff2') format('woff2'),url('/assets/dist/fonts/poppins_bold.woff') format('woff'),url('/assets/dist/fonts/poppins_bold.ttf') format('truetype');
}

@-webkit-keyframes tooltip {
    0% {
        opacity: 0;
    }

    .01% {
        display: table;
        max-height: 300px;
        max-width: 200px;
        min-width: 76px;
    }

    100% {
        opacity: .9;
        display: table;
        max-height: 300px;
        max-width: 200px;
        min-width: 76px;
    }
}

@-moz-keyframes tooltip {
    0% {
        opacity: 0;
    }

    .01% {
        display: table;
        max-height: 300px;
        max-width: 200px;
        min-width: 76px;
    }

    100% {
        opacity: .9;
        display: table;
        max-height: 300px;
        max-width: 200px;
        min-width: 76px;
    }
}

@keyframes tooltip {
    0% {
        opacity: 0;
    }

    .01% {
        display: table;
        max-height: 300px;
        max-width: 200px;
        min-width: 76px;
    }

    100% {
        opacity: .9;
        display: table;
        max-height: 300px;
        max-width: 200px;
        min-width: 76px;
    }
}

@-webkit-keyframes navShow {
    0% {
        transform: translateY(-101%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes navShow {
    0% {
        transform: translateY(-101%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes navShow {
    0% {
        transform: translateY(-101%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

html, body {
    font-weight: normal;
}

html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    color: #2e4354;
    background: #fff;
    font-family: "Muli",Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::after, ::before {
    color: inherit;
}

iframe {
    border: 0;
}

input, button, form, iframe {
    font-family: "Poppins",Arial,sans-serif,Arial,Verdana;
}

img {
    max-width: 100%;
    margin: .3em auto .5em auto;
    border: 0;
    display: block;
}

.f-content img {
    text-align: center;
}

    .f-content img[src*=".svg"] {
        max-width: 1024px;
    }

svg:not(:root) {
    overflow: hidden;
}

a {
    color: inherit;
    background-color: transparent;
}

    a:hover, a:focus, a:active {
        outline: 0;
    }

button {
    overflow: visible;
}

    button.btn {
        border: 0;
        outline: 0;
        background-color: transparent;
        -webkit-appearance: none;
        appearance: none;
    }

b, strong {
    font-weight: 600;
}

i, em {
    font-style: italic;
}

ul, ol {
    padding: 0 0 0 1.65em;
}

    ul p, ol p {
        margin: 0 0 .3em 0;
    }

.f-content ul p, .f-content ol p {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.note-list {
    display: table;
    padding: 0 0 0 .2em;
    overflow: hidden;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.4;
}

    .note-list li {
        width: 100%;
        position: relative;
        display: table-row;
        clear: both;
    }

    .note-list .note-indicator, .note-list .note-seperato, .note-list .note-content {
        padding: .2em .2em .5em .2em;
        display: table-cell;
        vertical-align: top;
    }

    .note-list .note-indicator {
        min-width: 20px;
        padding-left: 0;
    }

.page-wrap {
    transition: .3s ease all;
    position: relative;
    left: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Poppins",Arial,sans-serif,Arial,Verdana;
}

.f-content h1, .f-content h2, .f-content h3, .f-content h4, .f-content h5, .f-content h6, .f-content .h1, .f-content .h2, .f-content .h3, .f-content .h4, .f-content .h5, .f-content .h6 {
    text-align: center;
}

.f-blog .f-content h1, .f-blog .f-content h2, .f-blog .f-content h3, .f-blog .f-content h4, .f-blog .f-content h5, .f-blog .f-content h6, .f-blog .f-content .h1, .f-blog .f-content .h2, .f-blog .f-content .h3, .f-blog .f-content .h4, .f-blog .f-content .h5, .f-blog .f-content .h6 {
    text-align: left;
}

h1, h2, .h1, .h2, .f-block-title {
    margin: 0 0 .75em 0;
    color: #2e4354;
    font-size: 36px;
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: -.01em;
}

.f-content h1, .f-content h2, .f-content .h1, .f-content .h2, .f-content .f-block-title {
    margin: .75em 0 .5em 0;
}

.f-blog h1, .f-blog h2, .f-blog .h1, .f-blog .h2, .f-blog .f-block-title {
    text-transform: none;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-weight: 300;
}

h3, .h3 {
    line-height: 1.3;
}

.f-blog h3, .f-blog .h3 {
    margin-bottom: .8em;
    font-size: 28px;
    font-size: 2.8rem;
}

.f-blog h4, .f-blog .h4 {
    margin-bottom: .4em;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 500;
}

.f-blog h5, .f-blog .h5 {
    margin-bottom: .3em;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 600;
}

.f-blog h6, .f-blog .h6 {
    margin-bottom: .2em;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-weight: 500;
    line-height: 1.3;
}

p {
    margin: 0 0 2em 0;
    line-height: 1.74;
}

.f-content p {
    text-align: center;
}

.f-blog .f-content p {
    text-align: left;
}

ol, ul {
    margin: .2em 0 1em 0;
}

.f-blog ol li, .f-blog ul li {
    margin: .1em 0 .2em 0;
}

mark {
    color: inherit;
    text-decoration: underline;
    background: none;
}

.f-blog .article a {
    color: #008f70;
}

    .f-blog .article a:visited {
        color: #008f70;
    }

    .f-blog .article a:focus, .f-blog .article a:hover {
        color: #005c48;
    }

.container {
    transition: max-width .25s ease-out .15s;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media(min-width:768px) {
    .container {
        max-width: 750px;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 970px;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

@media(min-width:768px) {
    .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media(min-width:992px) {
    .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0%;
    }
}

@media(min-width:1200px) {
    .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0%;
    }
}

@media(min-width:1200px) {
    .col-lg-1:nth-child(12n+1) {
        clear: left;
    }

    .col-lg-2:nth-child(6n+1) {
        clear: left;
    }

    .col-lg-3:nth-child(4n+1) {
        clear: left;
    }

    .col-lg-4:nth-child(3n+1) {
        clear: left;
    }

    .col-lg-6:nth-child(odd) {
        clear: left;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .col-md-1:nth-child(12n+1) {
        clear: left;
    }

    .col-md-2:nth-child(6n+1) {
        clear: left;
    }

    .col-md-3:nth-child(4n+1) {
        clear: left;
    }

    .col-md-4:nth-child(3n+1) {
        clear: left;
    }

    .col-md-6:nth-child(odd) {
        clear: left;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .col-sm-1:nth-child(12n+1) {
        clear: left;
    }

    .col-sm-2:nth-child(6n+1) {
        clear: left;
    }

    .col-sm-3:nth-child(4n+1) {
        clear: left;
    }

    .col-sm-4:nth-child(3n+1) {
        clear: left;
    }

    .col-sm-6:nth-child(odd) {
        clear: left;
    }
}

@media(max-width:767px) {
    .col-xs-1:nth-child(12n+1) {
        clear: left;
    }

    .col-xs-2:nth-child(6n+1) {
        clear: left;
    }

    .col-xs-3:nth-child(4n+1) {
        clear: left;
    }

    .col-xs-4:nth-child(3n+1) {
        clear: left;
    }

    .col-xs-6:nth-child(odd) {
        clear: left;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.header {
    height: auto;
    min-height: 425px;
    color: #fff;
    background-color: #f4f6f7;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-wrap {
    margin: 0 auto;
    position: relative;
}

.f-blog .header {
    background-image: url('/Assets/dist/images/isotope-f19-infographic.jpg');
}

.header .container {
    padding: 4.5% 15px;
}

.header--case.header .container {
    padding: 3% 15px;
}

.header_title {
    max-width: 800px;
    margin: 0 0 .3em 0;
    color: inherit;
    font-size: 4.8rem;
    font-weight: 700;
    text-shadow: .03em .03em .01em rgba(0,0,0,.2);
}

.header--home .header_title {
    font-size: 6rem;
}

.header_intro {
    max-width: 535px;
    font-size: 3rem;
    color: inherit;
    font-weight: 700;
    text-shadow: .03em .03em .01em rgba(0,0,0,.2);
}

.header--home .header_intro {
    max-width: 1024px;
}

.header_summary {
    max-width: 535px;
    margin: 0;
    color: inherit;
    font-weight: normal;
}

.header-top {
    max-height: 80px;
    width: 100%;
    overflow: hidden;
    background: #fff;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.nav-pri--fixed .header-top {
    position: fixed;
    top: 0;
    min-height: 0;
    z-index: 100;
    box-shadow: 0 0 .15em 0 rgba(0,0,0,.3);
}

.nav_logo {
    max-width: 120px;
    max-height: 70px;
    width: 17%;
    float: left;
}

.nav {
    color: #08111b;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 300;
    text-align: right;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .01em;
}

.nav--primary {
    max-width: 82%;
    margin: 1.4em 0 1em 1%;
    float: right;
}

    .nav--primary .btn--close-menu {
        display: none;
        text-decoration: none;
    }

.nav--secondary {
    width: 100%;
    padding: 1.4em 0 1em 0;
    overflow: hidden;
    background: #e9edf0;
    transition: all .2s ease-in-out;
    position: static;
}

.nav-sec--fixed .nav--secondary {
    padding: .2em;
    position: fixed;
    top: 70px;
    min-height: 0;
    z-index: 99;
}

.nav_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav_list-item {
    display: inline-block;
}

.nav_list-link {
    position: relative;
    padding: .8em 1.2em .5em 1.2em;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    transition: color .2s ease-in 0s;
}

    .nav_list-link:after {
        width: .01%;
        height: 1px;
        margin: .2em 0 0 0;
        display: block;
        content: "";
        background: transparent;
        transition: width .2s ease-in 0s,background 0s ease-in .3s;
    }

    .selected .nav_list-link, .nav_list-link:active, .nav_list-link:hover, .nav_list-link:focus {
        color: #008f70;
    }

        .selected .nav_list-link:after, .nav_list-link:active:after, .nav_list-link:hover:after, .nav_list-link:focus:after {
            width: 100%;
            background: #008f70;
            transition: width .2s ease-in .1s,background 0s ease-in .1s;
        }

.nav .btn--menu {
    display: none;
}

.nav .btn--close-menu {
    display: block;
    text-decoration: none;
    background: url(/Assets/dist/svg/icon-menu.svg) 0 0 no-repeat;
    height: 30px;
    width: 30px;
}

.nav_placeholder {
    width: 100%;
    display: block;
}

.nav--mobile {
    width: 0;
    height: 100%;
    display: none;
    margin: 0;
    padding: 0 0 1em 0;
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    background: #2e4354;
    overflow-y: auto;
    transition: .3s ease all;
}

.logged-in .nav--mobile {
    padding: 3em 0 0 0;
}

.nav--mobile > div {
    padding: 20px;
}

.nav--mobile .btn--closemenu {
    float: right;
    display: block;
    text-decoration: none;
}

.nav--mobile .f-icon-close::before {
    height: 30px;
    width: 30px;
}

.nav--mobile ul {
    margin: 0;
    padding: 0;
}

.nav--mobile span {
    display: inline-block;
}

.nav--mobile li {
    display: block;
    text-align: left;
}

    .nav--mobile li.selected a {
        color: #fff;
    }

        .nav--mobile li.selected a::after {
            width: 100%;
            background: #fff;
            transition: width .2s ease-in .1s,background 0s ease-in .1s;
        }

.nav--mobile a {
    display: inline-block;
    color: #fff;
    padding: 15px 0;
    text-align: left;
    font-family: "Poppins",Arial,sans-serif;
    text-decoration: none;
}

    .nav--mobile a::after {
        width: .01%;
        height: 1px;
        margin: .2em 0 0 0;
        display: block;
        content: "";
        background: transparent;
        transition: width .2s ease-in 0s,background 0s ease-in .3s;
    }

    .nav--mobile a:hover {
        color: #fff;
    }

        .nav--mobile a:hover:after {
            width: 100%;
            background: #fff;
            transition: width .2s ease-in .1s,background 0s ease-in .1s;
        }

.footer {
    padding: 3.5em 5%;
    color: #d3dbe1;
    background: #2e4354;
    overflow: hidden;
}

.footer_section {
    margin: 0 0 2em 0;
}

.footer_section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins",Arial,sans-serif;
}

.footer h1, .footer h2, .footer h3 {
    color: inherit;
}

.footer ul {
    margin: 1em 0 .2em 0;
    padding: 0;
    line-height: 1.86;
    list-style: none;
}

.footer .nav_link {
    text-decoration: none;
}

.footer_contact {
    font-style: normal;
}

.f-btn {
    display: inline-block;
    padding: .84em 1.58em;
    background: #fff;
    border: 1px solid #08111b;
    position: relative;
    cursor: pointer;
    color: inherit;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .12em .12em;
    transition: all .3s ease;
}

    .f-btn:hover, .f-btn:focus {
        outline: 0;
        color: #fff;
        border-color: #2e4354;
        background: #2e4354;
    }

.f-btn--invert {
    color: #fff;
    background: #2e4354;
    border-color: transparent;
}

    .f-btn--invert:hover, .f-btn--invert:focus {
        color: inherit;
        background: #fff;
        border: 1px solid #08111b;
    }

.f-btn--contrast {
    color: #fff;
    background: #000;
    border: none;
}

    .f-btn--contrast:hover, .f-btn--contrast:focus {
        color: #000;
        border: none;
        background: #fff;
    }

.f-btn--corp {
    color: #008f70;
    border: 1px solid #008f70;
}

    .f-btn--corp:hover, .f-btn--corp:focus {
        border-color: #008f70;
        background: #008f70;
    }

.f-btn--corp-invert {
    color: #fff;
    background: #008f70;
    border: none;
}

    .f-btn--corp-invert:hover, .f-btn--corp-invert:focus {
        color: #fff;
        border: none;
        background: #00cc9f;
    }

.field-validation-error, .sreaders {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -800em;
    left: -800em;
    overflow: hidden;
    opacity: .1;
}

a.skip-to-content {
    padding: 1.75% 2% 1.5% 2%;
    position: absolute;
    top: -10em;
    z-index: 700;
    color: #000;
    background: #fff;
    text-decoration: none;
    border-bottom: 2px solid #666;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
    transition: all .2s ease;
}

    a.skip-to-content:focus {
        top: -.5em;
        left: 0;
        outline: 0;
    }

    a.skip-to-content:hover {
        border-bottom: 4px solid #000;
    }

.refPreview a.skip-to-content {
    display: none;
}

.f-form {
    color: #6d8393;
    font-size: 1.7rem;
    font-family: "Muli",Arial,sans-serif;
    font-weight: 300;
}

    .f-form label {
        margin: 0 0 .4em 0;
        font-family: inherit;
    }

    .f-form input, .f-form textarea {
        width: 100%;
        display: block;
        margin: 0 0 2em 0;
        padding: .8em;
        border: 1px solid #6d8393;
        background: #fff;
        font-family: inherit;
        outline: 0;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        transition: all .2s ease;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

        .f-form input:focus, .f-form textarea:focus {
            border-right-width: 6px;
        }

        .f-form input.input-validation-error, .f-form textarea.input-validation-error {
            background: rgba(173,1,1,.1);
            border-color: #ad0101;
        }

            .f-form input.input-validation-error:focus, .f-form textarea.input-validation-error:focus {
                background: #fff;
            }

    .f-form textarea {
        min-height: 118px;
        margin-bottom: .5em;
        resize: vertical;
    }

.f-form-element {
    position: relative;
}

    .f-form-element label {
        margin: auto;
        position: absolute;
        display: block;
        top: -1.3em;
        left: 0;
        z-index: 10;
        transform: translateY(0);
        transition: transform .2s ease;
    }

    .f-form-element textarea, .f-form-element input {
        position: relative;
        z-index: 15;
    }

        .f-form-element textarea:active + label, .f-form-element input:active + label, .f-form-element textarea:focus + label, .f-form-element input:focus + label {
            top: 0;
            transform: translateY(-125%);
        }

.f-form-required {
    font-size: 13px;
    font-size: 1.3rem;
}

.f-list {
    margin: 0 0 0 0;
    list-style: none;
}

.f-contact-form .f-list {
    margin: 0 0 2em 0;
    padding: 0;
}

.nav--mobile .f-list {
    font-weight: 600;
}

    .nav--mobile .f-list:first-of-type {
        margin-top: 3em;
    }

.f-list--contact {
    opacity: .6;
}

.nav--mobile .f-list--contact {
    margin: 2em 0 0 0;
    color: #d3dbe1;
    line-height: 1.86;
    font-weight: normal;
    text-transform: none;
}

.f-list--contact a {
    text-decoration: none;
}

    .f-list--contact a::after {
        display: none;
        content: none;
    }

.nav--mobile .f-list--contact a {
    color: inherit;
    padding: 0;
}

.f-list_socialmedia {
    text-align: left;
}

.f-blog .f-list_socialmedia {
    padding: 0;
}

.f-list_socialmedia a::after {
    display: none;
    content: none;
}

.f-list-item {
    width: 100%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.f-compare .f-list-item {
    padding: 0;
}

.f-list_socialmedia .f-list-item {
    width: auto;
    margin: 1em 0 0 0;
    display: inline-block;
}

.f-blog .f-list_socialmedia .f-list-item {
    margin: .2em 0 .8em 0;
}

.f-checklist .f-list-item {
    max-width: 500px;
    padding: 0 0 0 1.2em;
}

    .f-checklist .f-list-item::before {
        width: 15px;
        height: 15px;
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 6px;
        color: #008f70;
        background: url(/assets/dist/svg/checkmark.svg) 0 0 no-repeat;
    }

.f-list-title {
    margin: 0 0 .5em 0;
    color: #2e4354;
    font-weight: 700;
    font-family: "Poppins",Arial,sans-serif;
    text-transform: uppercase;
}

.nav--mobile .f-list-title {
    font-weight: 600;
    color: inherit;
}

.f-list-link {
    color: #00cc9f;
    text-decoration: none;
}

    .f-list-link:hover, .f-list-link:focus {
        color: #008f70;
    }

.f-list p {
    margin: 0;
}

.blog-other {
    max-width: 1170px;
    margin: 2em auto 1em auto;
    padding: 1em 0 .2em 0;
    position: relative;
    z-index: 25;
    border-top: 1px solid rgba(0,0,0,.3);
}

.blog-other_list {
    padding: 0;
    list-style: none;
}

.blog-other_list-item {
    width: 48%;
    padding: 0 0 0 1.6em;
    display: inline-block;
    position: relative;
}

    .blog-other_list-item::before {
        width: 20px;
        height: 20px;
        content: "";
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        left: 0;
        background: url('/Assets/dist/svg/icon_articles.svg') no-repeat center center;
        background-size: cover;
    }

.blog-other_date, .blog-other_header {
    float: left;
}

.blog-other_date {
    max-width: 30%;
    margin: 0 .2em 0 0;
    padding: 0 .5em 0 0;
    font-size: 90%;
    border-right: 1px solid #d1d1d1;
}

.blog-other_header {
    width: 70%;
    padding: 0 1em 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
}

    .blog-other_header:focus, .blog-other_header:hover {
        text-decoration: underline;
    }

.f-icon::before {
    display: inline-block;
    padding: .1em;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.f-icon-li::before, .f-icon-fb::before, .f-icon-tw::before, .f-icon-mail::before {
    width: 30px;
    height: 30px;
}

.f-icon-li::before {
    background-image: url(/Assets/dist/svg/linkedin.svg);
}

.f-icon-fb::before {
    background-image: url(/Assets/dist/svg/facebook.svg);
}

.f-icon-tw::before {
    background-image: url(/Assets/dist/svg/twitter.svg);
}

.f-icon-mail::before {
    background-image: url(/Assets/dist/svg/mail.svg);
}

.f-icon-home::before {
    background-image: url(/Assets/dist/svg/icon_home.svg);
}

.f-icon-explorer::before {
    background-image: url(/Assets/dist/svg/icon_explorer.svg);
}

.f-icon-article::before {
    background-image: url(/Assets/dist/svg/icon_articles.svg);
}

.f-icon-table::before {
    background-image: url(/Assets/dist/svg/icon_table.svg);
}

.f-icon-charts::before {
    background-image: url(/Assets/dist/svg/icon_chart.svg);
}

.f-icon-images::before {
    background-image: url(/Assets/dist/svg/icon_image.svg);
}

.f-icon-downloads::before {
    background-image: url(/Assets/dist/svg/icon_download.svg);
}

.f-icon-users::before {
    background-image: url(/Assets/dist/svg/icon_users.svg);
}

.f-icon-settings::before {
    background-image: url(/Assets/dist/svg/icon_settings.svg);
}

.f-icon-exit::before {
    background-image: url(/Assets/dist/svg/icon_exit.svg);
}

.f-icon-close::before {
    background-image: url(/Assets/dist/svg/icon-closemenu.svg);
}

.f-icon-arrow-down::before {
    background-image: url(/Assets/dist/svg/icon_arrow-down.svg);
}

.f-icon-arrow-up::before {
    background-image: url(/Assets/dist/svg/icon_arrow-up.svg);
}

.f-toolbar {
    padding: .5em .2em .3em .2em;
    position: relative;
    z-index: 99;
    background: #fff;
    box-shadow: 0 .05em .2em 0 rgba(0,0,0,.3);
    transition: padding .3s ease;
}

.f-toolbar--hide.f-toolbar {
    padding: 0;
}

.f-toolbar--hidden.f-toolbar {
    padding: 0;
    transition: none !important;
}

.f-toolbar::before, .f-toolbar::after {
    content: "";
    display: table;
}

.f-toolbar::after {
    clear: both;
}

.f-toolbar-menu {
    max-height: 10em;
    overflow: hidden;
    opacity: 1;
    transition: all .8s ease 0s;
    position: relative;
    z-index: 110;
}

.f-toolbar--hide .f-toolbar-menu {
    max-height: .01em;
    opacity: 0;
    overflow: hidden;
    transition: all .35s ease 0s;
}

.f-toolbar--hidden .f-toolbar-menu {
    overflow: hidden;
    transition: none !important;
}

.f-toolbar-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transition: all .5s ease;
}

.f-toolbar--hide .f-toolbar-list {
    transform: translateY(-100%);
}

.f-toolbar--hidden .f-toolbar-list {
    transition: none !important;
}

.f-toolbar-list::before, .f-toolbar-list::after {
    content: "";
    display: table;
}

.f-toolbar-list::after {
    clear: both;
}

.f-toolbar-list-item {
    display: inline-block;
}

.f-toolbar-list-link {
    display: block;
    margin: 0 1em 0 0;
    position: relative;
    text-decoration: none;
}

    .f-toolbar-list-link::after {
        max-height: 1px;
        max-width: 1px;
        min-width: 1px;
        margin: 0 auto;
        padding: .3em .2em;
        overflow: hidden;
        text-align: center;
        background: #fff;
        position: absolute;
        z-index: 115;
        bottom: 0%;
        right: 0;
        left: 50%;
        top: -200em;
        transform: translateX(-50%) translateY(108%);
        -webkit-transform: translateX(-50%) translateY(108%);
        display: block;
        content: attr(data-title);
        font-size: 1.2rem;
        border-radius: 0 .3em .3em .3em;
        opacity: 0;
        border: 1px solid #008f70;
        transition: top 0s linear .5s,min-width 0s linear .5s,max-height 0s linear .5s,max-width 0s linear .5s,opacity .2s ease .4s;
    }

    .f-toolbar-list-link:hover {
        position: relative;
    }

.f-toolbar-list .f-icon {
    display: block;
    border-bottom: 2px solid transparent;
    transition: border .2s ease;
}

    .f-toolbar-list .f-icon:hover {
        border-bottom-color: #008f70;
    }

    .f-toolbar-list .f-icon::before {
        width: 26px;
        height: 24px;
    }

.f-toolbar-list .f-icon-exit {
    margin: 0 0 0 1em;
}

.f-toolbar-view {
    position: relative;
    z-index: 105;
}

.f-toolbar .item--right {
    float: right;
}

.f-toolbar .f-toolbar-toggle {
    width: 100%;
    height: 1px;
    position: relative;
    z-index: 105;
    text-align: center;
}

    .f-toolbar .f-toolbar-toggle .btn {
        width: 34px;
        height: 34px;
        margin: 0 auto;
        padding: 0;
        background: #fff;
        position: absolute;
        z-index: 105;
        bottom: -15px;
        left: 0;
        right: 0;
        text-align: center;
        border-radius: 50% 50%;
        box-shadow: 0 .3em .1em -.1em rgba(0,0,0,.3);
    }

.f-toolbar .f-icon-arrow-up::before {
    width: 12px;
    height: 11px;
    position: relative;
    bottom: -8px;
}

.f-toolbar--hide.f-toolbar .f-icon-arrow-up::before {
    background-image: url(/Assets/dist/svg/icon_arrow-down.svg);
}

.content-blocks {
    margin: 0 auto;
}

.f-block {
    margin: 0 auto;
    padding: 3em 0;
    clear: both;
    overflow: hidden;
    position: relative;
}

    .f-block.f-block--dark {
        background: rgba(233,237,240,.5);
    }

    .f-block.f-block--light {
        background: rgba(233,237,240,.2);
    }

    .f-block:after, .f-block:before {
        content: "";
        display: table;
    }

    .f-block:after {
        clear: both;
    }

    .f-block h1, .f-block-title {
        width: 100%;
        display: inline-block;
    }

.f-service .f-block h1, .f-service .f-block-title {
    margin: 0 0 .5em 0;
    overflow: hidden;
    text-rendering: auto;
    text-overflow: ellipsis;
}

.f-block_header {
    width: 100%;
    padding: 3em 1em 2.7em 1em;
    display: block;
    text-align: center;
    background: rgba(233,237,240,.5);
}

    .f-block_header h1, .f-block_header h2, .f-block_header .f-block-title {
        margin: 0;
    }

.f-block.f-trends {
    text-align: center;
}

.f-block .container {
    margin: 0 auto;
}

.f-block .row {
    overflow: hidden;
}

.f-anchor {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    display: block;
    position: relative;
    top: -85px;
}

.f-people {
    padding: 0;
}

.f-people-wrapper {
    margin: 0 auto;
    max-width: 1920px;
    border-left: 1px #e9edf0 solid;
}

    .f-people-wrapper::after, .f-people-wrapper::before {
        display: table;
        content: "";
    }

    .f-people-wrapper::after {
        clear: both;
    }

.f-person {
    max-height: 415px;
    width: 25%;
    float: left;
    overflow: hidden;
    position: relative;
    border-right: 1px #e9edf0 solid;
    border-bottom: 1px #e9edf0 solid;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .f-person:after {
        content: "";
        display: block;
        padding-bottom: 100%;
        opacity: .01;
        background: rgba(0,0,0,.3);
        position: relative;
        z-index: 10;
        transition: opacity .24s ease-in;
    }

    .f-person.state--active, .f-person:hover, .f-person:focus {
        outline: 0;
        background-color: #a7b7c2;
    }

        .f-person.state--active:after, .f-person:hover:after, .f-person:focus:after, .f-person.state--active .f-person_info, .f-person:hover .f-person_info, .f-person:focus .f-person_info {
            opacity: 1;
        }

.f-person_info {
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 5%;
    left: 5%;
    opacity: .01;
    cursor: default;
    z-index: 15;
    transition: opacity .24s ease-in;
}

.f-person_info-name {
    margin: 0 0 .5em 0;
    display: block;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
}

.f-cases {
    padding: 0;
}

.f-case_teaser {
    max-height: 575px;
    width: 33.33%;
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
    color: #fff;
}

    .f-case_teaser:after {
        content: "";
        display: block;
        padding-bottom: 100%;
        position: relative;
        z-index: 15;
        opacity: .01;
        background: rgba(0,0,0,.3);
        transition: opacity .3s ease;
    }

    .f-case_teaser:hover .f-case_img, .f-case_teaser:active .f-case_img {
        transform: scale(1.1);
    }

    .f-case_teaser:hover:after, .f-case_teaser:active:after {
        opacity: 1;
    }

.f-case_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 10;
    transition: transform .3s ease;
}

.f-case_info {
    width: 90%;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 20;
}

.f-case_info-name {
    font-size: 4.8rem;
    display: block;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.f-case_info-summ {
    font-size: 2rem;
}

.f-trends {
    text-align: center;
}

    .f-trends .row {
        margin-top: 2em;
    }

.f-trend {
    margin: 0 0 2em 0;
}

    .f-trend h1, .f-trend h2, .f-trend .f-block-title {
        margin: 0 0 .5em 0;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .f-trend p {
        margin: 0;
    }

.f-trend_graphic {
    width: 100%;
    padding: 0 0 3em 0;
    text-align: center;
}

    .f-trend_graphic img {
        width: 100px;
    }

.f-columns .container div {
    width: 50%;
    float: left;
    padding: 0 0 0 5%;
}

    .f-columns .container div:first-of-type, .f-columns .container div:nth-of-type(2n+3) {
        padding: 0;
        clear: left;
    }

.f-clients {
    text-align: center;
}

    .f-clients .container {
        padding: 2em 0;
    }

.f-client {
    position: relative;
    background-size: 82%;
    background-repeat: no-repeat;
    background-position: center center;
}

    .f-client::before {
        width: 100%;
        content: "";
        display: block;
        padding-bottom: 100%;
        z-index: -1;
    }

.f-compare {
    margin: 0;
    text-align: center;
}

    .f-compare .f-list {
        padding: 0;
    }

.f-compare_title {
    display: inline;
    font-family: "Poppins",Arial,sans-serif;
    font-size: inherit;
    font-weight: 700;
    text-transform: uppercase;
}

.f-compare_old {
    color: #a7b7c2;
    text-align: right;
}

.f-compare_new {
    text-align: left;
}

.f-compare_descr {
    width: 100%;
    margin: 1em 0 0 0;
    display: inline-block;
    clear: both;
}

.f-checklist {
    font-size: 1.8rem;
    line-height: 1.45;
}

.f-service {
    padding-top: 4em;
    padding-bottom: 4em;
    border-bottom: 1px solid #d3dbe1;
}

    .f-service:last-of-type {
        border: 0;
    }

.f-service_txt {
    width: 70%;
    float: left;
}

.f-service--end .f-service_txt {
    float: right;
}

.f-service_graphic {
    width: 26%;
    margin: 0 0 0 4%;
    float: right;
    text-align: center;
}

.f-service--end .f-service_graphic {
    margin: 0 2% 0 0;
    float: left;
}

.f-service_graphic img, .f-service_graphic svg {
    width: 160px;
}

.f-services {
    text-align: center;
}

.f-services_intro {
    max-width: 450px;
    margin: 0 auto;
}

.f-services_teasers {
    letter-spacing: -.5rem;
}

.f-service_teaser {
    width: 14.28%;
    margin: 0 0 2em 0;
    display: inline-block;
    letter-spacing: normal;
}

    .f-service_teaser img, .f-service_teaser svg {
        height: 60px;
    }

.f-service_teaser-content {
    margin: 1em 0 0 0;
    display: block;
}

.f-teaser {
    text-align: center;
}

    .f-teaser img[src*=".svg"] {
        width: 500px;
    }

.f-teaser_img {
    margin: 2em 0;
}

.f-teaser .container {
    max-width: 865px;
}

.f-contact {
    text-align: center;
}

    .f-contact p a {
        color: #00cc9f;
        text-decoration: none;
    }

        .f-contact p a:hover, .f-contact p a:focus {
            text-decoration: underline;
        }

.f-contact-form {
    background: rgba(233,237,240,.5);
}

.f-fullbleed {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.f-fullbleed-img {
    max-height: 546px;
    min-height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

    .f-fullbleed-img:after {
        padding-bottom: 27.474%;
        content: "";
        display: block;
    }

.f-fullbleed-img--inline {
    margin: 3em 0;
    overflow: visible;
}

    .f-fullbleed-img--inline img {
        max-height: 100%;
        margin: auto;
        position: absolute;
    }

.f-partbleed {
    padding: 0;
}

.f-partbleed_content, .f-partbleed_img {
    width: 50%;
}

.f-partbleed_content {
    float: left;
    padding: 3% 5% 0 0;
}

.f-partbleed--end .f-partbleed_content {
    padding: 3% 0 0 5%;
    float: right;
}

.f-partbleed_img {
    float: right;
    min-height: 500px;
}

.f-partbleed--end .f-partbleed_img {
    float: left;
}

.f-partbleed_bg {
    height: 500px;
    width: 50%;
    position: absolute;
    right: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.f-partbleed--end .f-partbleed_bg {
    right: auto;
    left: 0;
}

.author {
    max-width: 1170px;
    margin: -4em auto 2em auto;
    padding: 0 0 1em 0;
    position: relative;
    z-index: 25;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.author-photo, .author-info {
    display: inline-block;
    vertical-align: top;
}

.author-photo {
    width: 126px;
    height: 126px;
    margin: 0 3% 0 0;
    border-radius: 50% 50%;
    border: 6px solid #fff;
    box-shadow: inset 0 .15em .3em 0 rgba(0,0,0,.3);
    background: url("/Assets/dist/images/marcel-rosebrand.jpg") no-repeat center center;
    background-size: contain;
}

.author-info {
    width: 67.5%;
    margin: 5em 0 0 0;
}

.author-name, .author-jobdescription, .author-email {
    margin: 0 0 .2em 0;
    display: block;
    clear: left;
}

.author-name {
    margin: 0 0 .5em 0;
    font-weight: 600;
}

.author-email {
    display: inline-block;
    text-decoration: none;
}

    .author-email:hover, .author-email:focus {
        text-decoration: underline;
    }

@media only screen and (min-width:1200px) {
    .f-blog .container {
        max-width: 50em;
    }

    .f-blog .header .container {
        max-width: 1170px;
    }

    .blog-other .container {
        max-width: 1170px;
    }
}

@media only screen and (max-width:1199px) {
    .f-case_info-name {
        font-size: 3.4rem;
    }

    .f-case_info-summ {
        font-size: 2rem;
    }

    .f-blog .container {
        max-width: 50em;
    }

    .f-blog .header .container {
        max-width: 970px;
    }

    .blog-other .container {
        max-width: 970px;
    }

    .blog-other {
        max-width: 970px;
    }

    .blog-other_list-item {
        width: 49%;
    }

    .blog-other_date {
        max-width: none;
        display: block;
        border: none;
    }

    .blog-other_header {
        width: 100%;
        clear: left;
    }

        .blog-other_header:focus, .blog-other_header:hover {
            text-decoration: none;
        }
}

@media only screen and (max-width:1199px) and (orientation:landscape) {
    .header {
        background-attachment: local;
    }
}

@media only screen and (max-width:991px) {
    .nav_list-link {
        padding: .8em .6em .5em .6em;
    }

    .header {
        min-height: 330px;
        background-attachment: local;
    }

    .header--home {
        min-height: 475px;
    }

    .f-blog .header .container {
        max-width: 750px;
    }

    .blog-other .container {
        max-width: 750px;
    }

    .header_title {
        max-width: 480px;
        font-size: 2.4rem;
    }

    .header--home .header_title {
        font-size: 4.8rem;
    }

    .header_intro {
        font-size: 2rem;
    }

    .plh-fixed {
        height: 0 !important;
        display: none !important;
    }

    .f-partbleed .container {
        max-width: none;
        padding: 0;
    }

    .f-partbleed .f-partbleed_content, .f-partbleed .f-partbleed_img {
        min-height: inherit;
        width: 100%;
        float: none;
    }

    .f-partbleed .f-partbleed_content {
        max-width: 750px;
        margin: 0 auto;
        padding: 2em 15px 0 15px;
    }

    .f-partbleed .f-partbleed_bg {
        width: 100%;
        height: auto;
        padding-bottom: 40%;
        position: relative;
        right: auto;
        left: auto;
    }

    .f-service_teaser {
        width: 25%;
    }

    .f-case_teaser {
        width: 50%;
    }

    .f-case_info-name {
        font-size: 2.4rem;
    }

    .f-case_info-summ {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width:767px) {
    body.nav-opened {
        overflow: hidden;
        position: fixed;
        height: 100%;
    }

    .nav-opened .page-wrap {
        left: -60%;
        overflow: hidden;
    }

    .nav-pri--fixed .header-top {
        position: relative;
        top: auto;
    }

    .nav_logo {
        width: auto;
    }

    .nav--primary {
        max-width: initial;
    }

        .nav--primary .nav_list {
            display: none;
        }

    .nav--secondary {
        display: none;
    }

        .nav--secondary.nav--mobile {
            display: block;
        }

    .nav--mobile {
        display: block;
    }

    .nav-opened .nav--mobile {
        width: 60%;
    }

    .nav .btn--menu {
        display: block;
        text-decoration: none;
        background: url(/Assets/dist/svg/icon-menu.svg) 0 0 no-repeat;
        height: 30px;
        width: 30px;
    }

    .nav_placeholder {
        display: none !important;
    }

    .f-anchor {
        top: -.3em;
    }

    .f-case_teaser {
        width: 50%;
    }

    .f-person {
        width: 50%;
    }

    .blog-other_list-item {
        width: 100%;
    }
}

@media only screen and (max-width:479px) {
    .nav-opened .nav--mobile {
        width: 85%;
    }

    .nav-opened .page-wrap {
        left: -85%;
    }

    .header--home {
        min-height: 330px;
    }

    .header_title {
        max-width: 290px;
    }

    .header--home .header_title {
        max-width: 265px;
        font-size: 2.4rem;
    }

    .f-columns .container div {
        width: 100%;
        float: none;
        padding: 0;
    }

    .f-service {
        text-align: center;
    }

        .f-service .f-service_txt, .f-service .f-service_graphic {
            width: 100%;
            float: none;
            margin: 0;
        }

    .f-services_intro {
        max-width: 300px;
    }

    .f-service_teaser {
        width: 50%;
    }

    .f-case_teaser {
        width: 100%;
    }

    .f-case_info-name {
        font-size: 3rem;
    }

    .f-case_info-summ {
        font-size: 2rem;
    }

    .f-person {
        width: 100%;
    }

    .author-info {
        width: 56.5%;
    }

    .f-compare_old {
        padding: 0 .3em 0 0;
    }

    .f-compare_new {
        padding: 0 0 0 .3em;
    }

    .f-compare .f-list-item {
        font-size: 13px;
        font-size: 1.3rem;
    }
}

@media print {
    .f-toolbar, .f-cases, .nav--secondary, .f-fullbleed, .f-partbleed_img, .f-clients, .f-people, .footer, .plh-fixed {
        display: none;
    }

    * {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    .header-top {
        border-bottom: .05em solid #000;
    }

    .nav-pri--fixed .header-top {
        position: relative !important;
    }

    .header {
        min-height: initial;
        text-align: center;
        border-bottom: .05em solid #999;
    }

        .header .container {
            padding: 1em 15px;
        }

    .header_title, .header_summary {
        margin: 0 auto;
        max-width: none;
        color: #000;
    }

    .header_title {
        margin-bottom: 1em;
        font-size: 24px;
        font-size: 2.4rem;
    }

    .header_summary {
        color: #0d0d0d;
        font-size: 18px;
        font-size: 1.8rem;
    }

    .f-content img[src*=".svg"] {
        max-width: 800px;
    }

    .nav {
        font-size: 11px;
        font-size: 1.1rem;
    }

    .nav_list-link {
        padding: .8em .6em .5em .6em;
    }

        .selected .nav_list-link, .nav_list-link:active, .nav_list-link:hover, .nav_list-link:focus {
            color: #000;
            font-weight: bold;
        }

    .f-partbleed_content {
        width: 100%;
        padding: 2% 0;
        float: none;
        display: block;
    }

    .f-partbleed--end .f-partbleed_content {
        padding: 2% 0;
    }

    h1, h2, .f-block-title {
        font-size: 26px;
        font-size: 2.6rem;
    }

    .f-block {
        padding: 1em 0;
    }

    .f-checklist {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.8;
    }

        .f-checklist .f-list-item {
            display: list-item;
            padding: 0 0 0 .5em;
        }

            .f-checklist .f-list-item::before {
                top: 4px;
                content: none;
            }

    .f-list {
        padding-left: 2em;
        list-style: circle;
    }
}