body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header1 {
    height: 400px;
    /*background: url('http://placehold.it/1920x400') center center no-repeat scroll;*/
    background: url('/media/1066/banner1.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.business-header2 {
    height: 400px;
    /*background: url('http://placehold.it/1920x400') center center no-repeat scroll;*/
    background: url('/media/1052/banner2.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.business-header3 {
    height: 400px;
    /*background: url('http://placehold.it/1920x400') center center no-repeat scroll;*/
    background: url('/media/1053/banner3.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */
.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}

/*Menu*/
.MenuSelected {
    text-decoration: underline;
}

/*For Footer Comanay Supports*/
.logoHover img {
    width: 140px;
    margin: 4px;
    opacity: .5;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

    .logoHover img:hover {
        opacity: 1;
    }
/* /For Footer Comanay Supports*/

/*****************Hover********************************************/
/* Personal Hover  10:18 1/11/2559*/
.snip1554 {
    /*background-color: #045e78;*/
    color: #ffffff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 8px;
    /*max-width: 315px;
            min-width: 230px;*/
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}

    .snip1554 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.45s ease;
        transition: all 0.45s ease;
    }

    .snip1554:after {
        background-color: white;
        opacity: 0.6;
        top: 0;
        bottom: 0;
        content: '';
        left: -100%;
        position: absolute;
        width: 200px;
        box-shadow: 0 0 100px white;
        -webkit-transform: skew(-20deg);
        transform: skew(-20deg);
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }

    .snip1554 img {
        vertical-align: top;
        max-width: 100%;
        backface-visibility: hidden;
    }

    .snip1554 figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        line-height: 1em;
        opacity: 0;
    }

    .snip1554 h3 {
        position: absolute;
        left: 10px;
        bottom: 10px;
        font-size: 1.4em;
        font-weight: 400;
        line-height: 1.1em;
        margin: 0;
        text-transform: uppercase;
    }

        .snip1554 h3 span {
            font-weight: 700;
        }

    .snip1554 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .snip1554:hover > img,
    .snip1554.hover > img {
        opacity: 0.6;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .snip1554:hover:after,
    .snip1554.hover:after {
        left: 200%;
    }

    .snip1554:hover figcaption,
    .snip1554.hover figcaption {
        opacity: 1;
    }

/* /Personal Hover */

/*Butom Hover*/
.snip1564 {
    background-color: #ffffff;
    border: none;
    border-bottom: 6px solid #029ebe;
    border-top: 6px solid #029ebe;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    letter-spacing: 3px;
    line-height: 34px;
    margin: 15px 40px;
    outline: none;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none !important; /*Fix Over Bootstap*/
    /* text-decoration: underline; */
}

    .snip1564:before,
    .snip1564:after {
        box-sizing: border-box;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        background-color: #ffffff;
        border-radius: 50%;
        top: -6px;
        content: "";
        height: 46px;
        position: absolute;
        width: 46px;
        border: 6px solid #ddd;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: -1;
    }

    .snip1564:before {
        right: -23px;
        border-left-color: #029ebe;
        border-bottom-color: #029ebe;
    }

    .snip1564:after {
        left: -23px;
        border-right-color: #029ebe;
        border-top-color: #029ebe;
    }

    .snip1564:hover,
    .snip1564.hover {
        background-color: #ffffff;
    }

        .snip1564:hover:before,
        .snip1564.hover:before,
        .snip1564:hover:after,
        .snip1564.hover:after {
            -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
        }