@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="col-md-12 text-center ">

    @*<a class="  " href="/en/exhibitions?id=888">Go Back</a>*@
    @if(Request.UrlReferrer != null)
    {
    <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
    }
    @Request.UrlReferrer
</div>