@inherits Umbraco.Web.Macros.PartialViewMacroPage

@*
    Macro to display a gallery of images from media the media section.
    Works with either a 'Single Media Picker' or a 'Multiple Media Picker' macro parameter (see below).

    How it works:
        - Confirm the macro parameter has been passed in with a value
        - Loop through all the media Id's passed in (might be a single item, might be many)
        - Display any individual images, as well as any folders of images

    Macro Parameters To Create, for this macro to work:
    Alias:mediaIds     Name:Select folders and/or images    Type: Multiple Media Picker
       var mediaIds = Model.MacroParameters["mediaIds"];                                                      Type: (note: you can use a Single Media Picker if that's more appropriate to your needs)
*@

@{

var Exhibition = Model.MacroParameters["Exhibition"];
var HeadText = Model.MacroParameters["HeadText"];
var artistID = 0; int.TryParse(Request.QueryString["artist"], out artistID);
var itemsArtPices= Umbraco.Media(artistID).Children();

var curNode = Umbraco.TypedContent(Model.Content.Id);
string nodeLang = curNode.GetCulture().ToString().ToLower();


List<string>
    list = new List<string>
        ();

        foreach (var item in itemsArtPices)
        {
        list.Add("artPieces2.ToString().Contains(\""+item.id+"\")");

        }

        var itemExhibitions= Umbraco.Media(Exhibition).Children().Where(string.Join<string>
            (" || ", list));
            <h1> @HeadText </h1>

            foreach (var ex in itemExhibitions)
            {

       string  name="";
       string description="";
       if (nodeLang == "th-th") {
       name = @ex.nameTh;
       description=@ex.descriptionTh;
       } else {
       name =@ex.nameEn;
       description=@ex.descriptionEn;
       }


            <div class="row">
                <div class="col-lg-4">
                    <img class="img-responsive img-center  boxShadow" src="@ex.GetCropUrl("image", "wide" )" alt="" />
                </div>
                <div class="col-lg-8">
                    <h2>@name</h2>
                    <p class="more">
                        @description
                    </p>
                    <a class="button " href='/en/exhibitions/past/exhibition?exhibition=@ex.id'>@Umbraco.Field("#ReadMore")</a>
                </div>
            </div>
            }

            }

            <link href="~/Modules/ReadMore/ReadMore.css" rel="stylesheet" />
            <script src="~/Modules/ReadMore/ReadMore.js"></script>
            <script>
                $(function () {

                    ReadMore.showMore = false;
                    ReadMore.BindEvent();
                });
            </script>