@inherits Umbraco.Web.Macros.PartialViewMacroPage

 
<link href="~/Modules/Slider/css/style.css" rel="stylesheet" />
	
 
	<div class="css-slider">
  <input type="radio" name="slider-navigation" checked="checked" id="first-slide" />
  <input type="radio" name="slider-navigation" id="second-slide" />
  <div class="css-slider-navigation">
    <label class="css-slider-navigation-item" for="first-slide"></label>
    <label class="css-slider-navigation-item" for="second-slide"></label>
  </div>
  <div class="css-slider-wrapper">
    <div class="css-slider-inner">
      <div id="actual-first-slide" class="css-slider-item" style="text-shadow: 0 0 15px black; background-image: url(http://www.howdoyousay.fr/stock-photos/01.jpg);">
        <div class="css-slider-item-inner">
          <div class="slide-title">
            Hello
          </div>
          <div class="slide-subtitle">
            How are you?
          </div>
        </div>
      </div>
      <div id="actual-second-slide" class="css-slider-item" style="background-image: url(http://howdoyousay.fr/stock-photos/02.jpg);">
        <div class="css-slider-item-inner">
          <div class="slide-title">
            Nice to meet you
          </div>
          <div class="slide-subtitle">
            I'm a slider without JS.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>