@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{

 int exhibition = 0; int.TryParse(Request.QueryString["exhibition"].ToString(), out exhibition);
 var item= (dynamic)null;
  
 
  var TextHead = Model.MacroParameters["TextHead"];       
 item= Umbraco.Media(exhibition) ;
}

<script src="/Modules/Pws/PWSCallService.js"></script>
<script src="/Modules/mustache/mustache.js"></script>
<script src="/Modules/UmbracoImage/UmbracoImage.js"></script>

 <!--Datejs-->
<script src="~/Modules/Datejs-master/build/date.js"></script>
@{
var curNode = Umbraco.TypedContent(Model.Content.Id);
var nodeLang = curNode.GetCulture().ToString().ToLower();
}
@if  (nodeLang == "th-th")
{
<script src="~/Modules/Datejs-master/build/date-th-TH.js"></script>
}

<script>

    $(document).ready(function () {
        //prevent loade complete
        $(window).unbind("load");

        //Preload();
        menuType = 'Past';
        // initEvent();

        RenderList();
    });

    /*==Render List and Page*/

    var PageIndex = '1';
    var PageSize = '10';
    var menuType = '';
    var CurrentListData;

    function RenderList() {

        //Render List
        

        var url = 'ExhibitionService?id=@item.id';

        Preload();
        CallServices(url, '', true, function (msg) {

            //Reder Data ListTemplate
            //console.log(msg);

            CurrentListData = ConvertDataByLanguage(msg[0]);
            SetList(CurrentListData);

            //SetPagger(msg[1].RecordCount);

            //Create Event in list
            if (msg[0].length > 0) {
                ModalEvent();

               
            }
        });

    }

    /*Render Data*/
    function SetList(msg) {
        if (msg.length > 0) {    /*Show Event By Navigation*/
            var template = $('#ListTemplate').html();
            Mustache.parse(template);   // optional, speeds up future uses

            //msg = ConvertDataByLanguage(msg);

            var rendered = Mustache.render(template, { Data: msg });
            $('#divList').html('');
            $('#divList').html(rendered).html(rendered).imagesLoaded().then(function () {
                // do stuff after images are loaded here
                LoadCompelete();
            });
            //.fail(function () {
            //    // do stuff if any one of the images fails to load
            //    LoadCompelete();
            //});

        } else {
            /*Display No data Display*/
            var template = $('#NoEventTemplate').html();
            var rendered = Mustache.render(template);
            $('#divList').html('');
            $('#divList').html(rendered).imagesLoaded().then(function () {
                // do stuff after images are loaded here
                LoadCompelete();
            });
        }

    }

   

    /*Convert Data*/
    function ConvertDataByLanguage(data) {
        var arrayPosition = 0;
        for (var key in data) {
            //preFixLang
            //var preFixLang = 'En';
            data[key]["name"] = data[key]["name" + preFixLang];
            data[key]["title"] = data[key]["title" + preFixLang];
            data[key]["introduction"] = data[key]["introduction" + preFixLang];
            data[key]["description"] = data[key]["description" + preFixLang];

            var ImageUmbracoString = data[key]["image"];

            data[key]["logoUrl"] = UmbracoImageUrl(ImageUmbracoString);

            var daetFormat = 'd MMM yyyy';
            var dateFrom = new Date(data[key]["beginDate"]);
            var from = dateFrom.toString(daetFormat); // "April 12th, 2008"
            data[key]["from"] = from;

            var dateTo = new Date(data[key]["endDate"]);

            var to = dateTo.toString(daetFormat); // "April 12th, 2008"

            data[key]["to"] = to;


            data[key]["id"] = arrayPosition;
            arrayPosition = arrayPosition + 1;
        }

        return data;
    }


     

    /*Utility*/
    /*Event*/
    
</script>
<section id="Main">
    <div class="text-center">
        
        <h1 class="color-black font-weight-300"><strong>@TextHead</strong></h1>
        <div id="divList" class="text-center ">
        </div>
    </div>
</section>
<!-- Template -->
<script id="ListTemplate" type="x-tmpl-mustache">

    {{#Data}}

    <div class="col-lg-12  ">

        <h2>{{name}}</h2>
        <img src='{{logoUrl}}' class="img-responsive img-center  ">

    </div>
    <div class="col-lg-12">



        <p class="date">{{from}} - {{to}}</p>

        <p class="">{{description}} </p>

     

    </div>
  
    {{/Data}}

</script>

<script id="NoEventTemplate" type="x-tmpl-mustache">

    <div class="row">
        <hr>
        <div class="col-lg-12   ">

            <div class="message">@Umbraco.Field("#EventNotFound") </div>
        </div>
    </div>
</script>
<!-- /Template -->
<!-- Modal -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>
