@inherits Umbraco.Web.Macros.PartialViewMacroPage


<div class="col-md-12 column">
    <div>


        <h2 dir="ltr"><span>Get it right from the beginning</span></h2>
        <p dir="ltr"><span>While Umbraco is a simple tool, it’s important that you use it the right way. The Level 1 master class is designed to make sure that any Web Developer - also with no previous ASP.NET knowledge - can create advanced multi-lingual sites by the end of the course.</span></p>
        <p>&nbsp;</p>
        <h2 dir="ltr"><span>Become an expert</span></h2>
        <p dir="ltr"><span>Once you know the basics, you can step up your game by attending the Level 2 master class. While the first masterclass is focused on implementing a site, this Masterclass will teach you how the .net APIs work and how to integrate and extend Umbraco. Whether that’s creating content programmatically or integrating a third party e-commerce engine or CRM.</span></p>
        <p>&nbsp;</p>
        <h2 dir="ltr"><span>Worth the investment</span></h2>
        <p dir="ltr"><span>All attendees at the official Umbraco Masterclasses receive a certification which is the best way to make yourself noticed in the Umbraco ecosystem. So whether you’re looking to move up in the ranks of your company or are a free agent, you shouldn’t be doing Umbraco without becoming certified. The investment will come back many times, so make sure to <a href="http://umbraco.com/products/training/?utm_source=core&amp;utm_medium=starterkit&amp;utm_content=topic-link&amp;utm_campaign=fanoe" target="_blank" title="Masterclasses">keep an eye out for a Masterclass near you</a>.</span></p>


    </div>
</div>