@inherits Umbraco.Web.Macros.PartialViewMacroPage

<script src="/Modules/paginate/jquery.simplePagination.js"></script>
@*<link href="/Modules/paginate/simplePagination.css" rel="stylesheet" />*@
<script src="/Modules/Pws/PWSCallService.js"></script>
<script src="/Modules/mustache/mustache.js"></script>
<script src="/Modules/UmbracoImage/UmbracoImage.js"></script>

@*
<script src="~/Modules/js-base64-master/base64.js"></script>*@

<!--SimpleModal-->

<link href="~/Modules/animatedModal.js-master/demo/css/animate.min.css" rel="stylesheet" />
@*<link href="~/Modules/animatedModal.js-master/demo/css/normalize.min.css" rel="stylesheet" />*@
<script src="~/Modules/animatedModal.js-master/animatedModal.js"></script>

<!--ReadMore-->
<link href="~/Modules/ReadMore/ReadMore.css" rel="stylesheet" />

<script src="~/Modules/ReadMore/ReadMore.js"></script>

<!--ScroolToTop-->
<script src="~/Modules/ToTop/animatescroll/animatescroll.js"></script>
<script src="~/Modules/ToTop/ToTop.js"></script>

<!--Datejs-->
<script src="~/Modules/Datejs-master/build/date.js"></script>
@{
var curNode = Umbraco.TypedContent(Model.Content.Id);
var nodeLang = curNode.GetCulture().ToString().ToLower();
}
@if  (nodeLang == "th-th")
{
<script src="~/Modules/Datejs-master/build/date-th-TH.js"></script>
}

<script>

    $(document).ready(function () {
        //prevent loade complete
        $(window).unbind("load");

        //Preload();
        menuType = 'Past';
        // initEvent();

        RenderList();

    });

    /*==Render List and Page*/

    var PageIndex = '1';
    var PageSize = '10';
    var menuType = '';
    var CurrentListData;

    function

        RenderList() {

        //Render List
        //var url = 'RazorJson?page=' + PageIndex + '&Type=' + menuType;

        var url = 'ExhibitionServices?page=' + PageIndex + '&Type=' + menuType;
        ToTop();
        Preload();
        CallServices(url, '', true, function (msg) {

            //Reder Data ListTemplate
            //console.log(msg);

            CurrentListData = ConvertDataByLanguage(msg[0]);
            SetList(CurrentListData);

            SetPagger(msg[1].RecordCount);

            //Create Event in list
            if (msg[0].length > 0) {
                ModalEvent();

                EventExhibition();

             
                ReadMore.BindEvent();

            }
        });

    }

    /*Render Data*/
    function SetList(msg) {
        if (msg.length > 0) {    /*Show Event By Navigation*/
            var template = $('#ListTemplate').html();
            Mustache.parse(template);   // optional, speeds up future uses

            //msg = ConvertDataByLanguage(msg);

            var rendered = Mustache.render(template, { Data: msg });
            $('#divList').html('');
            $('#divList').html(rendered).html(rendered).imagesLoaded().then(function () {
                // do stuff after images are loaded here
                LoadCompelete();
            });
            //.fail(function () {
            //    // do stuff if any one of the images fails to load
            //    LoadCompelete();
            //});

        } else {
            /*Display No data Display*/
            var template = $('#NoEventTemplate').html();
            var rendered = Mustache.render(template);
            $('#divList').html('');
            $('#divList').html(rendered).imagesLoaded().then(function () {
                // do stuff after images are loaded here
                LoadCompelete();
            });
        }

    }

    //Set Pagger
    function SetPagger(RecordCount) {

        if (RecordCount == 0) {
            $('#ulpage').hide();
            return;
        }
        else {
            $('#ulpage').show();
        }
        $('#ulpage').pagination({
            items: RecordCount,
            itemsOnPage: PageSize,

            //prevText: '<img class="iconDirection" src="Images/1457020750_arrow-left-01.svg" />',
            //nextText: '<img class="iconDirection" src="Images/1457020740_arrow-right-01.svg" />',

            prevText: lblPrev,
            nextText: lblNext,
            currentPage: PageIndex,//cssStyle: 'light-theme',
            onPageClick: function (event) {

                //Set Global Page
                if (event < 10) {
                    PageIndex = '0' + event;
                }
                else {
                    PageIndex = event;
                }
                //-Set Global Page
                RenderList();
            }

        });

    }

    /*Convert Data*/
    function ConvertDataByLanguage(data) {
        var arrayPosition = 0;
        for (var key in data) {
            //preFixLang
            //var preFixLang = 'En';
            data[key]["name"] = data[key]["name" + preFixLang];
            data[key]["title"] = data[key]["title" + preFixLang];
            //data[key]["introduction"] = data[key]["introduction" + preFixLang];
            data[key]["description"] = data[key]["description" + preFixLang];

            var ImageUmbracoString = data[key]["image"];

            data[key]["logoUrl"] = UmbracoImageUrl(ImageUmbracoString);

            var dateFrom = new Date(data[key]["beginDate"]);

            var daetFormat = 'd MMM yyyy';
            var from = dateFrom.toString(daetFormat); // "April 12th, 2008"
            data[key]["from"] = from;

            var dateTo = new Date(data[key]["endDate"]);

            var to = dateTo.toString(daetFormat); // "April 12th, 2008"

            data[key]["to"] = to;

            data[key]["id"] = arrayPosition;
            arrayPosition = arrayPosition + 1;
        }

        return data;
    }

    /*Utility*/
    /*Event*/
    function ModalEvent() {

        //$('.EventModal').on('click', function () {

        //    $('.imagepreview').attr('src', $(this).find('img').attr('src'));
        //    $('#imagemodal').modal('show');
        //});

        //animatedIn: bounceIn
        //animatedOut: bounceOut
        $('.EventModal').on('click', function () {

            $('.imagepreview').attr('src', $(this).find('img').attr('src'));

        });

        $(".EventModal").animatedModal({
            modalTarget: 'modal',
            //animatedIn: 'rollIn',
            //animatedOut: 'rollOut',

            animatedIn: 'fadeInUp',
            animatedOut: 'fadeOutDown',
            //color: '#444444',
            // color: '#4B4C4E',

            //color: 'rgba(109,109,112,0.9)',
            color: 'rgba( 77,75,76,0.9)',

            // Callbacks
            beforeOpen: function () {
                // $('.imagepreview').attr('src', $(this).find('img').attr('src'));

                //console.log("The animation was called");
            },
            afterOpen: function () {
                //console.log("The animation is completed");
            },
            beforeClose: function () {
                //console.log("The animation was called");
            },
            afterClose: function () {
                //console.log("The animation is completed");
            }
        });

    }

    function EventExhibition() {

        $('.EventExhibition').on('click', function () {
            $('#Main').hide();
            $('#SubMain').show();

        });

    }
</script>

<section id="Main">
    <h1 style="font-size:50px;text-align:center">EXHIBITIONS / PAST</h1>
    @*<h1 class="color-black font-weight-300"><strong>EXHIBITIONS / PAST</strong></h1>*@
    @*<h1 class="color-black font-weight-300 text-center">EXHIBITIONS / PAST</h1>*@
    <div id="divList" class="" style="margin-top:24px;">
    </div>

    <div id="modal">

        <!--"THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID-->
        @*<div id="btn-close-modal" class="close-modal ">
            CLOSE MODAL
        </div>*@

        <div id="btn-close-modal" class="close-modal text-center modalHead">

            <img class="closebt" src="~/Modules/animatedModal.js-master/closebt.svg" />
        </div>

        @*modal-content*@
        <div class="text-center">
            <!--Your modal content goes here-->
            <img class="imagepreview" src="http://localhost:17606/media/9264/picture.jpg" />
        </div>
    </div>
</section>

<!-- Template  EventModal-->
<script id="ListTemplate" type="x-tmpl-mustache">
    {{#Data}}
    <div class="row">
        @*<div class="col-md-3"><a href="#modal" class="EventModal img-center col-xs-12"><img src='{{logoUrl}}'></a> </div>*@

        <div class="col-md-3"><a href="#modal" class="EventModal img-center col-xs-12"><img src='{{logoUrl}}' class="EventModal img-center  img-responsive"></a> </div>

        <div class="col-md-9">

            <a class="LinkHead" href="/en/exhibitions/past/exhibition/">  {{name}}     </a>
            <div class="date">{{from}} - {{to}}</div>

            <p class="more">{{description}} </p>
            @*<a class="button EventExhibition"> Read More</a>*@
            @*<a href="/en/exhibitions?id=888"> Read More</a>*@
        </div>
    </div>
    <hr>
    {{/Data}}
    <div class="col-xs-12">

        <ul id="ulpage" class="pagination  pull-right"></ul>
    </div>
</script>

<script id="NoEventTemplate" type="x-tmpl-mustache">

    <div class="row">
        <hr>
        <div class="col-lg-12   ">
            @*<div class="message"> ทดสอบภาษาไทย</div>*@
            <div class="message">@Umbraco.Field("#EventNotFound") </div>
        </div>
    </div>
</script>
<!-- /Template -->