@inherits Umbraco.Web.Macros.PartialViewMacroPage

@*
    Macro to display a gallery of images from media the media section.
    Works with either a 'Single Media Picker' or a 'Multiple Media Picker' macro parameter (see below).

    How it works:
        - Confirm the macro parameter has been passed in with a value
        - Loop through all the media Id's passed in (might be a single item, might be many)
        - Display any individual images, as well as any folders of images

    Macro Parameters To Create, for this macro to work:
    Alias:mediaIds     Name:Select folders and/or images    Type: Multiple Media Picker
       var mediaIds = Model.MacroParameters["mediaIds"];                                                      Type: (note: you can use a Single Media Picker if that's more appropriate to your needs)
*@


@{
	
	

var artistID = 0; int.TryParse(Request.QueryString["artist"], out artistID);


  

 
@*
var item= Umbraco.Media(blogId).Children().Where(condition);
var   mediaIds=item.First().GetPropertyValue("artPieces2");

 
 var   mediaIds=item.First().GetPropertyValue("artPieces2");*@
	var itemsArtPices= Umbraco.Media(artistID).Children();
	
 
 
		List<string> list = new List<string>();
	  
	foreach (var item in itemsArtPices)
        {
			 list.Add("artPieces2.ToString().Contains(\""+item.id+"\")");
 
		}


	var itemExhibitions= Umbraco.Media(3576).Children().Where(string.Join<string>(" || ", list));
<h1> Exhibition </h1>
 	foreach (var ex in itemExhibitions)
        {
				<section class="SectionX">

		 <div class="col-lg-4">

		
			
    <img class=" img-responsive img-center  boxShadow" src="@ex.GetCropUrl("image", "wide")" alt="" />
		 
	 </div> 
			 <div class="col-lg-8">
				 <h2>@ex.name</h2>
				 <p class="more"> 
				 @ex.descriptionTh
				 </p>
				 <a class="button " href='/en/exhibitions/past/exhibition?exhibition=@ex.id'>Read more</a>
			 
				 </div> 
				 	</section>
		}
	
   
}

                                                                           <link href="~/Modules/ReadMore/ReadMore.css" rel="stylesheet" />
                                                                           <script src="~/Modules/ReadMore/ReadMore.js"></script>
                                                                           <script>
    $(function () {
      

        ReadMore.showMore = false;
        ReadMore.BindEvent();
    });
                                                                           </script> 
 