@inherits Umbraco.Web.Macros.PartialViewMacroPage

<style>
    #map {
        height: 500px;
    }
</style>
<div id="map"></div>
<script>
    
var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 13.7564419, lng: 100.5051950 },
    zoom: 8
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5OtN-6W1kv1kX2Kt2lmFgcLwCnPBf-3s&callback=initMap"
        async defer></script>