@inherits Umbraco.Web.Macros.PartialViewMacroPage

<script src="/Modules/paginate/jquery.simplePagination.js"></script>
<link href="/Modules/paginate/simplePagination.css" rel="stylesheet" />
<script src="/Modules/Pws/PWSCallService.js"></script>
<script src="/Modules/mustache/mustache.js"></script>
<script src="/Modules/UmbracoImage/UmbracoImage.js"></script>
<script id="ListTemplate" type="x-tmpl-mustache">
    {{#Data}}
    <div class="row">
        <div class="col-lg-3"><a href="#" class="EventModal"><img src='{{logoUrl}}' class="img-thumbnail img-responsive img-center"></a> </div>
        <div class="col-lg-9">
            <a href="post.Url"> <h3 class="NoPaddingNoMargin">{{name}} </h3>		</a>
            <div class="date">{{title}}</div>
            <p>{{introduction}}</p>
        </div>
    </div>
    <hr>
    {{/Data}}
</script>
<script id="NoEventTemplate" type="x-tmpl-mustache">

    <div class="row">
        <hr>
        <div class="col-lg-12   ">
            @*<div class="message"> ทดสอบภาษาไทย</div>*@
            <div class="message">@Umbraco.Field("#EventNotFound") </div>
        </div>
    </div>
</script>
<script>

    $(document).ready(function () {
        menuType = 'OnView';
        initEvent();

        RenderList();
    });

    //$(window).load(function () {
    //    //Animate loader off screen
    //    blurElement("body", 0)
    //});

    function SetActiveLeftMenu(aTag) {
        $('.list-group a').removeClass('active');
        $(aTag).addClass('active');
    }

    function initEvent() {

        //Left Menu Event
        $('#aOnView,#aPast,#aUpcoming').on('click', function (event) {

            //Get Attibute A data-type
            menuType = $(this).attr('data-type');
            aEvent(this);
        });

        function aEvent(aTagObject) {
            SetActiveLeftMenu(this);
            event.preventDefault();
            PageIndex = '1';
            RenderList();
            SetActiveLeftMenu(aTagObject);
        }

        /*Modal Event*/

    };

    function ModalEvent() {

        $('.EventModal').on('click', function () {

            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });

    }

    var PageIndex = '1';
    var PageSize = '10';
    var menuType = '';

    function RenderList() {

        //Render List
        var url = 'RazorJson?page=' + PageIndex + '&Type=' + menuType;
        Preload();
        CallServices(url, '', true, function (msg) {

            //Reder Data ListTemplate
            //console.log(msg);

            SetList(msg[0]);

            SetPagger(msg[1].RecordCount);

            LoadCompelete();

            ModalEvent();
        });

    }

    /*Render Data*/
    function SetList(msg) {

        if (msg.length > 0) {    /*Show Event By Navigation*/
            var template = $('#ListTemplate').html();
            Mustache.parse(template);   // optional, speeds up future uses

            msg = ConvertDataByLanguage(msg);

            var rendered = Mustache.render(template, { Data: msg });
            $('#divList').html('');
            $('#divList').html(rendered);
        } else {
            /*Display No data Display*/
            var template = $('#NoEventTemplate').html();
            var rendered = Mustache.render(template);
            $('#divList').html('');
            $('#divList').html(rendered);
        }

    }

    //Set Pagger
    function SetPagger(RecordCount) {

        if (RecordCount == 0) {
            $('#ulpage').hide();
            return;
        }
        else {
            $('#ulpage').show();
        }
        $('#ulpage').pagination({
            items: RecordCount,
            itemsOnPage: PageSize,

            //prevText: '<img class="iconDirection" src="Images/1457020750_arrow-left-01.svg" />',
            //nextText: '<img class="iconDirection" src="Images/1457020740_arrow-right-01.svg" />',

            prevText: lblPrev,
            nextText: lblNext,
            currentPage: PageIndex,//cssStyle: 'light-theme',
            onPageClick: function (event) {

                //Set Global Page
                if (event < 10) {
                    PageIndex = '0' + event;
                }
                else {
                    PageIndex = event;
                }
                //-Set Global Page
                RenderList();
            }

        });

    }

    /*Convert Data*/
    function ConvertDataByLanguage(data) {

        for (var key in data) {
            //preFixLang
            //var preFixLang = 'En';
            data[key]["name"] = data[key]["name" + preFixLang];
            data[key]["title"] = data[key]["title" + preFixLang];
            data[key]["introduction"] = data[key]["introduction" + preFixLang];

            var ImageUmbracoString = data[key]["logo"];

            data[key]["logoUrl"] = UmbracoImageUrl(ImageUmbracoString);

        }

        return data;
    }
</script>
<div role="content">
    <section class="light blogarchive equalizer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" id="aOnView" data-type="OnView" class="list-group-item active">On View</a>
                        <a href="#" id="aUpcoming" data-type="Upcoming" class="list-group-item">Upcoming</a>
                        <a href="#" id="aPast" data-type="Past" class="list-group-item">Past</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="divList">
                    </div>
                    <div class="row">
                        <div class="col-xs-12">

                            <ul id="ulpage" class="pagination  pull-right"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



   

</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>