@inherits Umbraco.Web.Macros.PartialViewMacroPage

<script src="/Modules/paginate/jquery.simplePagination.js"></script>
<link href="/Modules/paginate/simplePagination.css" rel="stylesheet" />
<script src="/Modules/Pws/PWSCallService.js"></script>
<script src="/Modules/mustache/mustache.js"></script>
<script src="/Modules/UmbracoImage/UmbracoImage.js"></script>

<script>
   
    $(document).ready(function () {
        Preload();
        menuType = 'OnView';
        initEvent();

        RenderList();
    });
 

    function SetActiveLeftMenu(aTag, id) {
        $('#' + id + ' .list-group a').removeClass('active');
        $(aTag).addClass('active');
    }

    function initEvent() {

        //Left Menu Event Main ======================================================
        $('#aOnView,#aPast,#aUpcoming').on('click', function (event) {
            event.preventDefault();
            //Get Attibute A data-type
            menuType = $(this).attr('data-type');

            SetActiveLeftMenu(this, 'Main');

            PageIndex = '1';
            RenderList();
        });

        //Left SubMenu Event Main ===================================================
        $('#aInformation,#aArtists,#aArtPieces').on('click', function (event) {
            event.preventDefault();
            //Get Attibute A data-type
            menuType = $(this).attr('data-type');

            SetActiveLeftMenu(this, 'SubMain');

            if (menuType == "Information") {
                //Display Full Details
                ShowExhibition();
            }
            else if (menuType == "Artists") {
                //Show Artis
                //process ID Artists from
                //$("#ExhibitionsDetail").html('');

                ShowArtists();

            }
            else if (menuType == "ArtPieces") {
                //Show ArtPieces
                alert('Test');

            }

        });

    };
    /*Event*/
    function ModalEvent() {

        $('.EventModal').on('click', function () {

            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });

    }

    function EventExhibition() {
        $('.EventExhibition').on('click', function () {
            $('#Main').hide();
            $('#SubMain').show();

            ShowExhibition();
            //Get FormCurent Id
            //var msg = CurrentListData[0];

            //var template = $('#ExhibitionsDetailTemplate').html();
            //Mustache.parse(template);   // optional, speeds up future uses

            //var rendered = Mustache.render(template, { Data: msg });
            //$('#divExhibition').html('');
            //$('#divExhibition').html(rendered);
        });

    }

    function ShowExhibition() {
        var msg = CurrentListData[0];

        var template = $('#ExhibitionsDetailTemplate').html();
        Mustache.parse(template);   // optional, speeds up future uses

        var rendered = Mustache.render(template, { Data: msg });
        $('#divRightContent').html('');
        $('#divRightContent').html(rendered);
    }
    function ShowArtists() {
        Preload();
        var msg = CurrentListData[0];

      
        var url = 'ArtistService?id=99';
      
        CallServices(url, '', true, function (msg) {
          
            if (msg.length > 0) {    /*Show Event By Navigation*/
                var template = $('#ArtistsTemplate').html();
                Mustache.parse(template);   // optional, speeds up future uses

                var data = msg[0];
                //convert Data
                var arrayPosition = 0;
                for (var key in data) {
                    //preFixLang
                    //var preFixLang = 'En';
                    data[key]["name"] = data[key]["name" + preFixLang];

                    var ImageUmbracoString = data[key]["image"];
                    if (ImageUmbracoString != undefined) {
                        data[key]["imageCropUrl"] = UmbracoImageUrl(ImageUmbracoString);
                    }
                    data[key]["id"] = arrayPosition;
                    arrayPosition = arrayPosition + 1;
                }
                //

                var rendered = Mustache.render(template, { Data: data });
                $('#divRightContent').html('');
                $('#divRightContent').html(rendered);

            } else {
                /*Display No data Display*/
                var template = $('#NoEventTemplate').html();
                var rendered = Mustache.render(template);
                $('#divRightContent').html('');
                $('#divRightContent').html(rendered);
            }
          LoadCompelete();
        });

        //ArtistService

        var template = $('#ArtistsTemplate').html();
        Mustache.parse(template);   // optional, speeds up future uses

        var rendered = Mustache.render(template, { Data: msg });
        $('#divRightContent').html('');
        $('#divRightContent').html(rendered);
    }

    var PageIndex = '1';
    var PageSize = '10';
    var menuType = '';
    var CurrentListData;
    function RenderList() {

        //Render List
        var url = 'RazorJson?page=' + PageIndex + '&Type=' + menuType;
        Preload();
        CallServices(url, '', true, function (msg) {

            //Reder Data ListTemplate
            //console.log(msg);
            CurrentListData = ConvertDataByLanguage(msg[0]);
            SetList(CurrentListData);

            SetPagger(msg[1].RecordCount);

            LoadCompelete();

            //Create Event in list
            if (msg[0].length > 0) {
                ModalEvent();

                EventExhibition();
            }
        });

    }

    /*Render Data*/
    function SetList(msg) {
        if (msg.length > 0) {    /*Show Event By Navigation*/
            var template = $('#ListTemplate').html();
            Mustache.parse(template);   // optional, speeds up future uses

            //msg = ConvertDataByLanguage(msg);

            var rendered = Mustache.render(template, { Data: msg });
            $('#divList').html('');
            $('#divList').html(rendered);

        } else {
            /*Display No data Display*/
            var template = $('#NoEventTemplate').html();
            var rendered = Mustache.render(template);
            $('#divList').html('');
            $('#divList').html(rendered);
        }

    }

    //Set Pagger
    function SetPagger(RecordCount) {

        if (RecordCount == 0) {
            $('#ulpage').hide();
            return;
        }
        else {
            $('#ulpage').show();
        }
        $('#ulpage').pagination({
            items: RecordCount,
            itemsOnPage: PageSize,

            //prevText: '<img class="iconDirection" src="Images/1457020750_arrow-left-01.svg" />',
            //nextText: '<img class="iconDirection" src="Images/1457020740_arrow-right-01.svg" />',

            prevText: lblPrev,
            nextText: lblNext,
            currentPage: PageIndex,//cssStyle: 'light-theme',
            onPageClick: function (event) {

                //Set Global Page
                if (event < 10) {
                    PageIndex = '0' + event;
                }
                else {
                    PageIndex = event;
                }
                //-Set Global Page
                RenderList();
            }

        });

    }

    /*Convert Data*/
    function ConvertDataByLanguage(data) {
        var arrayPosition = 0;
        for (var key in data) {
            //preFixLang
            //var preFixLang = 'En';
            data[key]["name"] = data[key]["name" + preFixLang];
            data[key]["title"] = data[key]["title" + preFixLang];
            data[key]["introduction"] = data[key]["introduction" + preFixLang];
            data[key]["content"] = data[key]["content" + preFixLang];

            var ImageUmbracoString = data[key]["logo"];

            data[key]["logoUrl"] = UmbracoImageUrl(ImageUmbracoString);

            data[key]["id"] = arrayPosition;
            arrayPosition = arrayPosition + 1;
        }

        return data;
    }
</script>

<!--Layout-->
<div id="Main" role="content">
    <section class="light blogarchive equalizer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" id="aOnView" data-type="OnView" class="list-group-item active">On View</a>
                        <a href="#" id="aUpcoming" data-type="Upcoming" class="list-group-item">Upcoming</a>
                        <a href="#" id="aPast" data-type="Past" class="list-group-item">Past</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="divList">
                    </div>
                    <div class="row">
                        <div class="col-xs-12">

                            <ul id="ulpage" class="pagination  pull-right"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="SubMain" role="content" style="display:none">
    <section class="light blogarchive equalizer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" id="aInformation" data-type="Information" class="list-group-item active">Information</a>
                        <a href="#" id="aArtists" data-type="Artists" class="list-group-item">Artists</a>
                        <a href="#" id="aArtPieces" data-type="ArtPieces" class="list-group-item">Art Pieces</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="divRightContent">
                    </div>
                    <div class="row">
                        <div class="col-xs-12">

                            <ul id="ulpage" class="pagination  pull-right"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--/Layout-->
<!--Template-->
<script id="ListTemplate" type="x-tmpl-mustache">
    {{#Data}}
    <div class="row">
        <div class="col-lg-3"><a href="#" class="EventModal"><img src='{{logoUrl}}' class="img-thumbnail img-responsive img-center"></a> </div>
        <div class="col-lg-9">
            <a href="#" class="EventExhibition" data-arrayIndex="{{id}}"> <h3 class="NoPaddingNoMargin">{{name}} </h3>		</a>

            <h5 class="text-muted"> {{from}}-{{to}} </h5>
            <p>{{introduction}} </p>
        </div>
    </div>
    <hr>
    {{/Data}}
</script>

<script id="NoEventTemplate" type="x-tmpl-mustache">

    <div class="row">
        <hr>
        <div class="col-lg-12   ">
            @*<div class="message"> ทดสอบภาษาไทย</div>*@
            <div class="message">@Umbraco.Field("#EventNotFound") </div>
        </div>
    </div>
</script>

<!--SubMain-->
<script id="ExhibitionsDetailTemplate" type="x-tmpl-mustache">
    {{#Data}}
    <div id="ExhibitionsDetail">
        <img class="img-responsive img-thumbnail" src="{{logoUrl}}" />
        <span> {{{content}}}</span>
    </div>
    {{/Data}}
</script>

<script id="ArtistsTemplate" type="x-tmpl-mustache">

    {{#Data}}

    <div class="col-lg-4">
        <figure class="snip1554">
            <img class="img-circle img-responsive img-thumbnail  img-center" src="{{imageCropUrl}}" alt="">

            <figcaption>
                <h4 class="text-muted  " style="background-color:brown"> {{name}}</h4>
            </figcaption>
            <a href="#"></a>
        </figure>
        @*<h3>{{{name}}}</h3>*@
    </div>

    {{/Data}}
</script>
<!-- /Template-->
<!-- Modal -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>