@inherits Umbraco.Web.Macros.PartialViewMacroPage

	  <h2>Past Exhibitions</h2>
 

                    <p>
                        Bualuang Foundation cordially invites you to the 38th Bualuang Paintings Exhibition, displaying the total of 71 art pieces including 9 award winning works of art and 62 additional art pieces selected by the judging committee,
                    </p>
                    <p> for viewers to grasp artist’s concept of creating masterpieces in 3 categories covering Traditional Thai, Semi-Traditional Thai and Contemporary Paintings, from 17th October – 25th November 2016 at The Queen’s Gallery.  </p>
                    <p>
                    
                        <a class="snip1564" href="#">More &raquo;</a>
                    </p>