/* Personal Hover  10:18 1/11/2559*/
.snip1554 {
    /*background-color: #045e78;*/
    color: #ffffff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 8px;
    /*max-width: 315px;
            min-width: 230px;*/
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}

    .snip1554 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.45s ease;
        transition: all 0.45s ease;
    }

    .snip1554:after {
        background-color: white;
        opacity: 0.6;
        top: 0;
        bottom: 0;
        content: '';
        left: -100%;
        position: absolute;
        width: 200px;
        box-shadow: 0 0 100px white;
        -webkit-transform: skew(-20deg);
        transform: skew(-20deg);
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }

    .snip1554 img {
        vertical-align: top;
        max-width: 100%;
        backface-visibility: hidden;
    }

    .snip1554 figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        line-height: 1em;
        opacity: 0;
    }

    .snip1554 h3 {
        position: absolute;
        left: 10px;
        bottom: 10px;
        font-size: 1.4em;
        font-weight: 400;
        line-height: 1.1em;
        margin: 0;
        text-transform: uppercase;
    }

        .snip1554 h3 span {
            font-weight: 700;
        }

    .snip1554 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .snip1554:hover > img,
    .snip1554.hover > img {
        opacity: 0.6;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .snip1554:hover:after,
    .snip1554.hover:after {
        left: 200%;
    }

    .snip1554:hover figcaption,
    .snip1554.hover figcaption {
        opacity: 1;
    }

/* /Personal Hover */

/*Butom Hover*/
.snip1564 {
    /*background-color: #ffffff;*/

      /*background:rgba(233,237,240,.5);
        background: #808080;*/
    background:#FAFAFA; 
     /*background:   inherit;*/
  
    border: none;
    border-bottom: 6px solid #029ebe;
    border-top: 6px solid #029ebe;
    color: #555;
    cursor: pointer;
    display: inline-block;
    /*font-family: 'Raleway', Arial, sans-serif;*/
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    letter-spacing: 3px;
    line-height: 34px;
    margin: 15px 40px;
    outline: none;
    padding: 0 10px;
    position: relative;
    /*text-transform: uppercase;*/
    text-decoration: none !important; /*Fix Over Bootstap*/
    /* text-decoration: underline; */
}

    .snip1564:before,
    .snip1564:after {
        box-sizing: border-box  !important;
        -webkit-transition: all 0.3s !important;
        transition: all 0.3s  !important;
        background-color: #ffffff  !important;
        border-radius: 50%  !important;
        top: -6px  !important;
        content: ""  !important;
        height: 46px  !important;
        position: absolute  !important;
        width: 46px  !important;
        border: 6px solid #ddd  !important;
        -webkit-transform: rotate(45deg)  !important;
        transform: rotate(45deg)  !important;
        z-index: -1  !important;

     
    }

    .snip1564:before {
    
     
        right: -23px  !important;
        border-left-color: #029ebe  !important;
        border-bottom-color: #029ebe  !important;
    }

    .snip1564:after {
      
        left: -23px;
        border-right-color: #029ebe  !important;
        border-top-color: #029ebe !important;
    }

    .snip1564:hover,
    .snip1564.hover {
        /*background-color: #ffffff !important;*/
       
    }

        .snip1564:hover:before,
        .snip1564.hover:before,
        .snip1564:hover:after,
        .snip1564.hover:after {
            -webkit-transform: rotate(225deg) !important;
            transform: rotate(225deg) !important;
        }

       /*Hover*/
  .snip1360 {
  /*font-family: 'Quattrocento', Arial, sans-serif;*/
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  /*min-width: 230px;
  max-width: 315px;*/
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  background-color: #ffffff;


      /* position: relative; */
    
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);

}
.snip1360 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1360 img {
  max-width: 100%;
  vertical-align: top;
    /*margin: 0px !important;*/ 
}
.snip1360 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 25px 55px;
  position: relative;
}
.snip1360 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1360 figcaption a {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #cccccc;
  color: #000000;
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 0.65;
  width: 100%;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}
.snip1360 figcaption a:hover {
  opacity: 1;
}
.snip1360 h2 {
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.2em;
  /*font-family: 'Oswald', Arial, sans-serif;*/
  text-transform: uppercase;
}
.snip1360 p {
  margin: 0 0 10px;
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}