/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

body {
 padding-top:  95px;;
}


h1 {
font-size: 3.125em;
}


.color-black {
    color: #333;
}
.font-weight-300 {
    font-weight: 300;
}



/*Footer*/
.logoHover img {
    /*width: 140px;*/
    margin: 4px;
    opacity: .5;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

    .logoHover img:hover {
        opacity: 1;
    }


.right {
text-align:right;
}

/*NAv*/
    .navbar-brand {
   
    height: 93px; 
   
}
  .navbar-inverse .navbar-brand {
    color: #9d9d9d;
    padding-top: 23px;
}

.nav > li > a{
    padding-top:37px;
    padding-bottom:37px;
    min-height: 93px;
    
}



 .MenuSelected {
    /*text-decoration: underline;*/
    /*background-color:#ffffff;*/
    text-decoration: dotted;
    /*background-color: #555 !important;*/
    border-bottom-style: solid;
    /*border-bottom-color:#efd469;*/
    border-bottom-color: #EED369;
    /*border-bottom-color: #337ab7;*/
}

    .MenuSelected a {
        color: #fff !important;
    } 


    /*Text*/
.date {
   margin-bottom:10px;
      font-size: 0.9em;
  font-weight:normal;
}

@media (max-width: 480px),  {
   .nav > li > a {
      
     
        border-bottom: solid 1px rgba(255,255,255,.1);
    }
}

@media (max-width: 767px)
{
     .nav > li > a {
      
     
        border-bottom: solid 1px rgba(255,255,255,.1);
    }

}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */